<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partial/common') %>
    <title>공공서비스 조회</title>
</head>

<body>
  <%- include("./partial/navbar") %>

    <div class="container d-flex justify-content-center">
      <div class="col-md-12 text-center">
        <h1 class="display-3 mb-5">
          <i class="fas fa-piggy-bank fa-lg"></i> 공공서비스 조회
        </h1>
        <p class="lead">
          다양한 국가 보조금이 제공됨에도, 내가 대상자인지 모르거나 신청방법을 몰라서 놓치는 경우가 많습니다.
        </p>
        <p class="lead">
          본 서비스에서는 내가 받을 수 있는 서비스들의 정보를 한 눈에 보여줍니다.
        </p>
        <p class="lead">
          지금 바로, 받을 수 있는 혜택을 확인하세요!
        </p>
        <p class="lead mt-5">
          <a href="/entry" class="btn btn-primary btn-lg">시작하기</a>
        </p>
      </div>
    </div>

    <%- include('./partial/footer') %>
</body>

</html>